body {
  background-color: #f1f1f1;
  overflow-x: hidden;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("Fonts/Poppins.woff2") format("woff2");
  font-weight: 400;
  letter-spacing: 0.5px;
  font-style: normal;
}

h3 {
  font-family: Georgia;
  letter-spacing: 0.5px;
  font-weight: lighter;
}

.hero-part {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.hero-logo {
  display: flex;
  width: 60%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  animation: pulse-scale 8s ease-in-out infinite;
}

h1 {
  margin: 0px;
}

@keyframes pulse-scale {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.hero-slogan {
  display: flex;
  margin-top: 30px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.hero-bg {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;

  background: linear-gradient(#88ab8e, #afc8ad);
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.header-logo {
  width: 15%;
  margin-left: 20px;
}

.intr-part {
  height: 10%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 30px;
  background-color: #282828;
}

.intr-nav {
  display: flex;
  justify-content: flex-end;
}

.intr-link {
  text-decoration: none;
  color: inherit;
}

.intr-buttons {
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 30px;
  width: 100%;
  align-items: center;
}

.intr-button {
  margin-left: 30px;
  color: white;
}
.intr-bg {
  display: flex;
  justify-content: center;
}

.intr-nav {
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 40px;
}

.intr-favicon {
  display: flex;
  width: 100px;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 50px;
}

.about-me-title {
  margin-left: 60px;
  margin-top: 100px;
}

.about-image {
  display: flex;
  height: 350px;
  margin-right: 20px;
  margin-bottom: 60px;
}

.text-grid-h {
  display: grid;
  margin-left: 40px;
  margin-top: 20px;
  gap: 40px;
  grid-template-columns: 1.2fr 3fr;
}

.text-grid-left {
  display: grid;
  gap: 10px;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
}

.text-grid-header {
  font-size: 26px;
  font-weight: bold;
}

.text-grid-right {
  display: grid;
  margin-right: 100px;
  gap: 10px;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
}

.port-container {
  display: flex;
  margin-top: 100px;
  width: 100%;
  justify-content: center;
}

.portofolio-card {
  position: relative;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#ffffff, #ffffff);

  width: 500px;
  height: 750px;
}

.overlay-card {
  display: flex;
  position: absolute;
  border-radius: 2%;
  background: linear-gradient(#ffffff, #ffffff);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  animation: fade-in 0.3s ease-in-out;
}


.check-mark{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;

}

.hidden-points{
  margin: 7px;
}

.hidden-point-bold{
  font-weight: bold;
}

.check-text {
  margin: 0px;
  text-align: start;
  align-self: center;
}

.card-hidden-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.hidden-text-title {
  font-size: 22px;
  font-weight: bold;
}

.hidden-text-explain {
  font-size: 16px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    scale: 0.95;
  }
  to {
    opacity: 100;
    scale: 1;
  }
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.port-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.port-title {
  padding: 15px;
  color: white;
  background-color: #5f8f67;
  font-weight: bold;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 2em;
  width: 82%;
  margin-bottom: 125px;
}

.port-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.portofolio-card:hover {
  transform: scale(1.03);
}

.bold-text {
  font-weight: bold;
  color: #d0a515;
}

.portofolio-card img {
  border-radius: 2%;
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.card-title {
  display: flex;
  font-size: 1.5rem;
  padding: 20px;
  margin-top: -5px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  background: linear-gradient(#cccccc, #c8c7c7);
}
.prijzen-card {
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#e7e7e7, #ceccc7);
  width: 500px;
  height: 325px;
}

.prijzen-card-title {
  display: flex;
  border-radius: 2%;
  font-size: 1.4rem;
  padding: 20px;
  color: white;
  background-color: #acac98;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 2.1;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.card-text-title {
  margin-left: 10px;
  font-weight: 600;
}

.card-text p {
  margin-left: 10px;
}
.card-text span {
  font-size: bold;
}

.footer-part {
  display: block;
  margin-top: 100px;
  margin-bottom: 0px;
}
.footer-container {
  background: linear-gradient(to bottom, #a7af90, #8d967a);
  width: auto;
  height: 20vh;
}
.footer-text {
  margin-left: 40px;
}
.footer-company-name {
  font-weight: bold;
}
.footer-socials {
  padding-top: 40px;
}
.footer-social-link {
  display: flex;
  margin-top: 10px;
}
.social-name {
  margin-left: 10px;
}
.footer-copyright {
  text-align: center;
}

@media (max-width: 768px) {
  #title1 {
    font-size: 1.8rem;
    padding: 20px;
  }

  #title2 {
    font-size: 1.5rem;
    padding: 20px;
  }

  .intr-title {
    font-size: 26px;
  }

  .intr-profile-pic {
    margin-bottom: 25px;
  }

  .intr-introduction {
    text-align: start;
    font-size: 16px;
    padding: 20px;
  }

  .intr-nav {
    gap: 20px;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }

  .intr-button {
    width: 4rem;
    height: 25px;
    padding: 5px;
    font-size: smaller;
  }

  .skill-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .skill-container {
    margin-bottom: 0px;
  }

  .skill-image {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
  }

  .skill-title {
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
  }

  .skill-explain {
    font-size: 16px;
    padding: 20px;
    margin-bottom: -10px;
  }

  .contact-title {
    margin-top: -80px;
    font-size: 1.5rem;
    margin-bottom: -10px;
    padding: 20px;
  }

  .contact-explain {
    font-size: 1.3rem;
    padding: 20px;
  }

  .contact-button {
    width: 40%;
    font-size: 22px;
  }

  .footer-container {
    height: 300px;
  }

  .footer-copyright {
    margin-top: 30px;
    text-align: start;
  }
}
